@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,400i,600,600i,700,700i|Roboto+Slab:300,400,700&subset=cyrillic");
html {
  box-sizing: border-box;
}

/* Create a sticky/fixed navbar */
#navbar {
  padding: 0px 0px 0px 40px;
  overflow: hidden;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  width: 100%;
  z-index: 99;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #121212;
  color: #FFFFFF;
}

mark.red {
  color: #ff0000;
  background: none;
}

mark.green {
  color: #14af00;
  background: none;
}

header.-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header > * {
  max-width: 1024px;
  margin: 0 auto;
}

header.-fixed + .wrap-content {
  padding-top: 530px;
}

article section.version .header .datetime {
  margin: 0 0 0 10px;
}
article section.version .header > *:not(:first-child) {
  margin: 0 0 0 10px;
}
article section.version .label, article section.version .label-inline {
  display: inline-flex;
  padding: 4px 10px;
  margin: 20px 0 5px 0;
  border: 1px solid transparent;
  color: white;
  background: #4d4d4d;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
}
article section.version .label.-s, article section.version .label-inline.-s {
  padding: 2px 6px;
  font-size: 10pt;
}
article section.version .label.-m, article section.version .label-inline.-m {
  padding: 4px 10px;
  font-size: 12pt;
}
article section.version .label.-l, article section.version .label-inline.-l {
  padding: 6px 14px;
  font-size: 14pt;
}
article section.version .label.-yellow, article section.version .label-inline.-yellow {
  color: black;
  background: #FDD835;
}
article section.version .label.-blue, article section.version .label-inline.-blue {
  color: white;
  background: #2196F3;
}
article section.version .label.-green, article section.version .label-inline.-green {
  color: white;
  background: #4CAF50;
}
article section.version .label.-orange, article section.version .label-inline.-orange {
  color: white;
  background: #FF9800;
}
article section.version .label.-red, article section.version .label-inline.-red {
  color: white;
  background: #f44336;
}
article section.version .label.-ghost, article section.version .label-inline.-ghost {
  background: transparent;
  border: 2px solid #4d4d4d;
  color: #4d4d4d;
  font-weight: 600;
}
article section.version .label.-ghost.-yellow, article section.version .label-inline.-ghost.-yellow {
  color: black;
  border-color: #FDD835;
}
article section.version .label.-ghost.-blue, article section.version .label-inline.-ghost.-blue {
  color: #2196F3;
  border-color: #2196F3;
}
article section.version .label.-ghost.-green, article section.version .label-inline.-ghost.-green {
  color: #4CAF50;
  border-color: #4CAF50;
}
article section.version .label.-ghost.-orange, article section.version .label-inline.-ghost.-orange {
  color: #FF9800;
  border-color: #FF9800;
}
article section.version .label.-ghost.-red, article section.version .label-inline.-ghost.-red {
  color: #f44336;
  border-color: #f44336;
}
article section.version .label-inline {
  padding: 2px 6px;
  font-size: 10pt;
  border-radius: 5px;
  margin: 0 5px 0 0;
}
article section.version ul, article section.version ol {
  list-style-position: inside;
}
article section.version ul li, article section.version ol li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: #FFFFFF;
}
article section.version dd {
  list-style-position: inside;
}
article section.version dd dt {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: #FFFFFF;
}
article section.version.-declined {
  padding: 0 4px;
  opacity: 0.5;
  background: transparent;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
}/*# sourceMappingURL=design.css.map */