<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatchLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<PatchLauncher.Properties.Settings>
      <setting name="PlayBackgroundMusic" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="BackgroundMusicIcon" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="BackgroundMusicFile" serializeAs="String">
          <value>Default</value>
      </setting>
      <setting name="StartGameWindowed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="UseBrutalAI" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="GameInstallPath" serializeAs="String">
          <value />
      </setting>
      <setting name="PatchVersionInstalled" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="IsGameInstalled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SelectedOlderPatch" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsSettingChanged" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="UseBetaChannel" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="BetaChannelVersion" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="LauncherLanguage" serializeAs="String">
          <value>en</value>
      </setting>
      <setting name="InstalledLanguageISOCode" serializeAs="String">
          <value>en_us</value>
      </setting>
      <setting name="CreateStartMenuShortcut" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="CreateDesktopShortcut" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="OpenLauncherChangelogPageAfterUpdate" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="OpenPatchChangelogPage" serializeAs="String">
          <value>False</value>
      </setting>
  </PatchLauncher.Properties.Settings>
    </userSettings>
</configuration>