<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatchLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<PatchLauncher.Properties.Settings>
      <setting name="PlayBackgroundMusic" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="BackgroundMusicIcon" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="BackgroundMusicFile" serializeAs="String">
          <value>Default</value>
      </setting>
      <setting name="EAXSupport" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="StartGameWindowed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="UseBrutalAI" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="GameInstallPath" serializeAs="String">
          <value />
      </setting>
      <setting name="PatchVersionInstalled" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="IsGameInstalled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch106Installed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch30Downloaded" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch31Downloaded" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SelectedOlderPatch" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch30Installed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch31Installed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsSettingChanged" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatchModsShown" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch106Downloaded" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="ShowPatchesFirst" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="UseBetaChannel" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="BetaChannelVersion" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="IsPatch32Installed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsPatch32Downloaded" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="GameLanguage" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="GameLanguageIndex" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="InstalledLanguagePackName" serializeAs="String">
          <value>LangPack_EN.7z</value>
      </setting>
      <setting name="CreateStartMenuShortcut" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="CreateDesktopShortcut" serializeAs="String">
          <value>True</value>
      </setting>
  </PatchLauncher.Properties.Settings>
    </userSettings>
</configuration>