<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LauncherGUI.Properties.Settings>
            <setting name="LauncherLanguageSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BFME1ResolutionSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="BFME1LanguageSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BFME2ResolutionSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="BFME2LanguageSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ROTWKLanguageSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ROTWKResolutionSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="BFME1GameInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BFME2GameInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ROTWKGameInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsWindowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLibraryPath" serializeAs="String">
                <value>Patch 2.22 Launcher\Games</value>
            </setting>
            <setting name="UsedLibraryPartitions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>C:\</string>
                    </ArrayOfString>
                </value>
            </setting>
        </LauncherGUI.Properties.Settings>
    </userSettings>
</configuration>