<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllInOneLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<AllInOneLauncher.Properties.Settings>
      <setting name="LauncherLanguageSetting" serializeAs="String">
          <value>-1</value>
      </setting>
      <setting name="BFME1ResolutionSetting" serializeAs="String">
          <value />
      </setting>
      <setting name="BFME1LanguageSetting" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="BFME2ResolutionSetting" serializeAs="String">
          <value />
      </setting>
      <setting name="BFME2LanguageSetting" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="RotwkLanguageSetting" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="RotwkResolutionSetting" serializeAs="String">
          <value />
      </setting>
      <setting name="BFME1GameInstalled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="BFME2GameInstalled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="RotwkGameInstalled" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsWindowed" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="LibraryDrives" serializeAs="Xml">
          <value>
              <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <string>D:\</string>
              </ArrayOfString>
          </value>
      </setting>
      <setting name="CloseLauncherToTray" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="BFME1GraphicAPISetting" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="BFME2GraphicAPISetting" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="RotwkGraphicAPISetting" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CreateLauncherDesktopIcon" serializeAs="String">
          <value>False</value>
      </setting>
  </AllInOneLauncher.Properties.Settings>
    </userSettings>
</configuration>