<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllInOneLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<AllInOneLauncher.Properties.Settings>
      <setting name="LauncherLanguage" serializeAs="String">
          <value>-1</value>
      </setting>
      <setting name="LibraryLocations" serializeAs="Xml">
          <value>
              <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <string>NotSet</string>
              </ArrayOfString>
          </value>
      </setting>
      <setting name="HideToTrayOnClose" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="CreateLauncherDesktopIcon" serializeAs="String">
          <value>False</value>
      </setting>
  </AllInOneLauncher.Properties.Settings>
    </userSettings>
</configuration>